.wrapper{
    width: 100%;
    margin: 0;
    padding: 20px 40px;
}

.grid-container{
    margin: 0 auto;
    padding: 10px 10px;
    width: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    align-content: center;
    background-color: black;
}

.grid-container > div{
    background-color: rgba(0, 0, 0, 0.842);
    
    padding: 10px;
    height: 50px;
    
}

.item_screen1{
    grid-column: 1 / span 4;
}
.item_screen2{
    grid-column: 2 / span 3;
}

input[type = text], input[type = number]{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 8px;
}



button{
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgba(175, 174, 174, 0.329);
    color: white;
    outline: none;
    box-shadow: 0 -2px 1px rgb(175, 174, 174);
    border: none;
   
}
button:hover{
    background-color: rgba(175, 174, 174, 0.123);
}

button:active{
    box-shadow: 0 -0.5px 1px rgba(175, 174, 174, 0.562);
    transform: translateY(2px);
}

div .btn-clr{
    background-color: rgba(253, 253, 11, 0.849);
    color: black;
}
div .btn-clr:hover{
    background-color: rgba(253, 253, 11, 0.938);
}